<h2 class="title pb-4">Log In</h2>
  <form id="login-form">
    <div>
      <label for="username-login">Username</label>
      <input  id="username-login" type="text" autofocus="true"/>
    </div>
    <div>
      <label for="password-login">Password</label>
      <input id="password-login" type="password" autofocus="true"/>
    </div>
      <button type="submit">Login</button>
      <a href="/signup">Sign Up</a>
  </form>
    
<script src="/public/js/login.js"></script>